/*card style*/
.card{
    border: none;
}
.card-block {
    margin: 2em;
    border: none;
}
.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.rounded-circle{
    width: 50%;
    height 5vw;
    object-fit:contain;
}
.card-title{
    margin: 2em;
}
.twitter{
 
}
.manual{
  
}
.instagram{
    
}
.red{
    color: red;
}
.navbar{ 
    background:black;
}
.nav-link , .navbar-brand{ 
    color: #f4f4f4; 
    cursor: pointer;
}
.nav-link{
    height: 3em;
    object-fit: cover;
}
.nav-link:hover{ 
    background: #f4f4f4; 
    color: #234b8c; 
}
.navbar-collapse{ 
    justify-content: flex-end;
}
.navbar-toggler{  
    background-image: url(../images/toggleicon.png);
    background-size: contain;
    height: 3em;
    !important;
}
.container{
    margin-top: 6em;
}
.filtertitle{
    color: #f4f4f4;
    width: 3em;
    font-size: 2em;
}
.card-logo{
    height: 5em;
    width: 5em;
    position: absolute;
}
.hidden{
    display: none;
}